<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trisysit.baseproject_mvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="perusudroid.baseproject.common.BaseProject"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="perusudroid.baseproject.ui.sync.SyncApiActivity"/>
        <activity android:name="perusudroid.baseproject.ui.opensourcelist.OpenListActivity" />
        <activity android:name="perusudroid.baseproject.ui.login.LoginActivity" />
        <activity android:name="perusudroid.baseproject.ui.photos.PhotosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="perusudroid.baseproject.services.SyncApiService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver
            android:name="perusudroid.baseproject.receiver.IncomingMessageReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>